.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: lightblue;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--nav-height);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 23px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navLink:hover {
  color: grey;
}

.badge {
  background-color: gray;
  color: white;
  border-radius: 12px;
  padding: 2px 6px;
  font-size: 18px;
  min-width: 20px;
  text-align: center;
  font-weight: bold;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 20px;
}